@use '../config/variables' as v;

@media screen and (min-width: v.$mobile){
    .modal{
        &__content{
            margin: auto;
            width: 500px;
            border-radius: 1.25rem;
        }
        &__img{
            width: 170px;
        }
    }
}