/*=============== BREAKPOINTS ===============*/
/* For small devices */
@media screen and (min-width: $mobile){
    .modal{
        &__content{
            margin: auto;
            width: 500px;
            border-radius: 1.25rem;
        }
        &__img{
            width: 170px;
        }
    }
}