.c-cookies-config-modal, .c-cookies-config-banner{
    *{
        box-sizing: border-box;
        padding: 0;
        margin: 0;
    }
    button{
        font-family: var(--body-font);
        font-size: var(--normal-font-size);
        cursor: pointer;
        border: none;
        outline: none;
    }
    
    
    img{
        max-width: 100%;
        height: auto;
    }
}
